---
layout: default
---

{% include navbar.html %}

{% include landing.html %}

<section class="container-fluid" id="frame">
    <div class="row">
        <div class="col-md-12 zero-padding">
            <div class="frame">
                <img id="img-frame" src="/assets/img/c2.png" class="img-responsive img-frame" alt="Responsive image">
            </div>
        </div>
    </div>
</section>

{% include about.html %}

{% include break_seo.html %}

{% include services.html %}

{% include break_marketing.html %}

{% include testimonials.html %}

{% include footer.html %}
