.btn-base {
    color: $text-light;
    cursor: pointer;
    white-space: normal;
    &:hover {
        color: $text-light;
    }
}

.btn-delta-primary {
    @extend .btn-base;
    background-color: $secondary;
    border-color: $secondary;
    &:hover {
        background-color: $dark-secondary;
        border-color: $dark-secondary;
    }
}

.btn-call-to-action {
    @extend .btn-delta-primary;
    text-transform: uppercase;
}

.btn-delta {
    @extend .btn-base;
    background-color: $primary;
    border-color: $primary;
    &:hover {
        background-color: $dark-primary;
        border-color: $dark-primary;
    }
}

.btn-delta-light {
    @extend .btn-base;
    background-color: $light-primary;
    border-color: $light-primary;
    &:hover {
        background-color: $primary;
        border-color: $primary;
    }
}

.delta-link {
    @extend .no-decoration;
    color: $primary;
    &:hover {
        color: $dark-primary;
    }
}

.btn {
    border-radius: 0;
}
