// COLORS
$primary: #1aa7fa;
$light-primary:#58bef8;
$dark-primary: #1185c7;
$transparent-primary: rgba(26, 167, 250, 0.8);
$light-secondary:#f09354;
$dark-secondary: #eb6308;
$secondary: #f56e13;
$text-light: #fff;
$background-color: #fAfAfA;

// DEVICES
$sm: 576px; // Small devices (landscape phones, 576px and up)
$md: 768px; // Small devices (tablets)
$lg: 992px; // Medium devices (desktops)
$xl: 1200px; // Large devices (large desktops)

@mixin font-title {
    font-family: 'Lato', sans-serif;
}

@mixin font-text {
    font-family: 'Open Sans', sans-serif;
}
