<section class="container about" id="about">
    <div class="row">
        <div class="col-md-12 super-padding">
            <div class="cont-text">
                <h2 class="text-title">Chi Siamo</h2>
                <p class="text-inline">
                    Delta Local Marketing cerca di modernizzare la visione del marketing in Italia e
                    aiutare le aziende italiane a realizzare il successo che si meritano.
                </p>
                <p class="text-inline">
                    Crediamo fortemente nella piccola/media imprenditoria italiana come produttori di
                    qualità e la nostra missione e’ quella di rilanciare le aziende
                    italiane, contro il dominio delle grandi aziende multinazionali.
                </p>
                <p class="text-inline">
                    Siamo partner dei nostri clienti nel definire un progetto comune, analizziamo il
                    mercato per ricavare informazioni, studiamo le strategie, scegliamo
                    i canali di comunicazione, individuiamo i messaggi e gli strumenti
                    più adatti.
                </p>
            </div>
        </div>
        <div class="col-md-12 zero-padding">
            <img src="{{site.baseurl}}/assets/img/top2.2.3.png" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</section>
