{% assign first_post = site.posts.first %}

<section class="container home">
    <div class="row">
        <div class="col-md-9 p-1">
            <div class="container-fluid">
                {% for post in paginator.posts %}
                    <div class="row blog-article">
                        <div class="col-md-5 blog-article-image">
                            <img class="img-fluid" src="{{site.baseurl}}/assets/img/{{ post.image_sharing }}"  alt="post image">
                        </div>
                        <div class="col-md-7">
                            <span class="blog-post-categories">{{ post.categories }}</span>
                            <h5>{{ post.title }}</h4>
                            <h6 class="mb-2 text-muted">{{ post.description }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-"></div>
    </div>



    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml " | relative_url }}">via RSS</a></p> -->
</section>
