{% assign first_post = site.posts.first %}

<section class="container home">
    <div class="row">
        <div class="col-md-9 p-1">
            <div class="container-fluid">
                {% for post in paginator.posts %}
                    <div class="row blog-article">
                        <div class="col-md-4 p-0">
                            <a href="{{ post.url }}">
                                <img class="img-fluid blog-article-image" src="{{site.baseurl}}/assets/img/{{ post.image_sharing }}"  alt="post image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <span class="blog-post-categories">{{ post.categories }}</span>
                            <a class="no-decoration" href="{{ post.url }}">
                                <h5 class="blog-post-title">{{ post.title }}</h4>
                            </a>
                            <h6 class="mb-2 text-muted">{{ post.description }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-none d-md-flex col-md-3 blog-side-layout">
            {% include subscription.html %}
            {% include popular_posts.html %}
        </div>
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml " | relative_url }}">via RSS</a></p> -->
</section>
