{% assign first_post = site.posts.first %}

<section class="container home">
    <div class="row">
        <div class="col-md-9 p-1">
            <div class="container-fluid">
                {% for post in paginator.posts %}
                    <div class="row blog-article">
                        <div class="col-md-4 blog-article-image">
                            <a href="{{ post.url }}">
                                <img class="img-fluid" src="{{site.baseurl}}/assets/img/{{ post.image_sharing }}"  alt="post image">
                            </a>
                        </div>
                        <div class="col-md-8">
                            <span class="blog-post-categories">{{ post.categories }}</span>
                            <a class="no-decoration" href="{{ post.url }}">
                                <h5 class="blog-post-title">{{ post.title }}</h4>
                            </a>
                            <h6 class="mb-2 text-muted">{{ post.description }}</h6>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="d-none d-md-block col-md-3">
            <h5>I post più popolari</h3>
            {% for id in site.data.popular_posts %}
                {% assign post = site.posts | where:"id", id | first %}
                <a href="{{ post.url }}">
                    <div class="popular-post">
                        <img class="img-fluid" src="{{site.baseurl}}/assets/img/{{ post.image_sharing }}"  alt="post image">
                        <div class="popular-post-layout">
                            <div class="popular-post-text">
                                <span class="popular-post-number">{{ forloop.index }}</span>
                                <span class="popular-post-title">{{ post.title }}</span>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml " | relative_url }}">via RSS</a></p> -->
</section>
