<section class="container-fluid break break-left" id="break2">
    <div class="row row-setting">
        <div class="col-md-6 col-sm-12" id="text-roku">
            <div class="cont-text" id="">
                <h2 class="text-title text-right">Marketing</h2>
                <h2 class="text-title text-right">Analisi dell'interazione del mercato con l'impresa.</h2>
                <p class="text-inline text-right">Le origini del "concetto di marketing" si possono far risalire all'economista italiano Giancarlo Pallavicini,
                    che nel 1959 sviluppò approfondimenti sulle ricerche di mercato, costituenti, di fatto, i primi strumenti
                    di quello che divenne poi il marketing moderno, ripresi e sviluppati in un secondo tempo da Philip Kotler.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 zero-padding">
            <img id="img-break2" src="assets/img/break2.png" class="img-responsive shadow" id="img-roku" alt="Responsive image">
        </div>
    </div>
</section>
