<section class="container-fluid break break-right" id="break1">
    <div class="row row-setting">
        <div class="d-none d-md-block col-md-6">
            <img id="img-break1" src="assets/img/break1.png" class="img-fluid shadow" alt="Responsive image">
        </div>
        <div class="col-12 col-md-6">
            <div class="cont-text text-ver-cent">
                <h2 class="text-title">Search Engine Optimization</h2>
                <p class="text-inline">Attività volte a migliorare la visibilità di un sito web sui motori di ricerca quali ad es. Google, Yahoo!,
                    ecc. al fine di migliorare il posizionamento nelle pagine di risposta alle interrogazioni degli utenti
                    del web.
                </p>
            </div>
        </div>
    </div>
</section>
