<section class="container-fluid break break-right" id="break1">
    <div class="row row-setting">
        <div class="col-md-6 col-md-push-6 col-sm-12">
            <div class="cont-text text-ver-cent">
                <h2 class="text-title">SEO</h2>
                <h2 class="text-title">Search Engine Optimization</h2>
                <p class="text-inline">Attività volte a migliorare la visibilità di un sito web sui motori di ricerca quali ad es. Google, Yahoo!,
                    ecc. al fine di migliorare il posizionamento nelle pagine di risposta alle interrogazioni degli utenti
                    del web.
                </p>
            </div>
        </div>
        <div class="col-md-6 col-md-pull-6 col-sm-12 zero-padding">
            <img id="img-break1" src="assets/img/break1.png" class="img-responsive shadow" alt="Responsive image">
        </div>
    </div>
</section>
