<footer class="py-1">
    <div class="container">
        <div class="row">
            <div class="footer-contacts col-12 text-center">
                <div class="d-flex">
                    <a class="no-decoration" target="_blank" href="mailto:{{site.email}}">
                        <img class="footer-social-icon" alt="email" src="{{site.url}}{{site.baseurl}}/assets/img/social/email.svg">
                    </a>
                    <a class="no-decoration" target="_blank" href="{{site.facebook}}">
                        <img class="footer-social-icon" alt="twitter" src="{{site.url}}{{site.baseurl}}/assets/img/social/facebook.png">
                    </a>
                    <a class="no-decoration" target="_blank" href="{{site.instagram}}">
                        <img class="footer-social-icon" alt="instagram" src="{{site.url}}{{site.baseurl}}/assets/img/social/instagram.png">
                    </a>
                    <a class="no-decoration" target="_blank" href="{{site.linkedin}}">
                        <img class="footer-social-icon" alt="linkedin" src="{{site.url}}{{site.baseurl}}/assets/img/social/linkedin.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="copyright pt-2 col-12 text-center">
                &copy; 2018 Delta Local Marketing - P.IVA 01575250558
            </div>
        </div>
    </div>
</footer>
