<section id="contacts" class="container contacts">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="cont-text-modal">
                    <h2 class="content-title text-underline h2-line-sub">
                        Richiedi una<strong> consulenza gratuita</strong>
                    </h2>
                    <p class="p-line-sub">
                        We create compelling and engaging stories that draw users in, appeal to their emotions
                        and drive them to action.
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <form class="consultant-form" method="POST" action="http://formspree.io/info@deltalocalmarketing.it">
                    <div class="form-group form-name">
                        <label for="company-name">Nome azienda</label>
                        <input type="text" class="form-control" name="company-name" placeholder="Delta local marketing">
                    </div>
                    <div class="form-group form-name">
                        <label for="name">Nome contatto</label>
                        <input type="text" class="form-control" name="name" placeholder="Mario Rossi">
                    </div>
                    <div class="form-group form-phone">
                        <label for="phone">Telefono</label>
                        <input type="tel" class="form-control" name="phone" placeholder="+39 320 1212123">
                    </div>
                    <div class="form-group form-text">
                        <label for="comments">Note</label>
                        <textarea class="form-control sett" rows="5" name="comments" placeholder="es. Contattare dopo le 18." ></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary btn-form center-block">Invia</button>
                </form>
            </div>
        </div>
    </section>
