<section id="contacts" class="container contacts">
    <div class="row">
        <div class="col-12 col-md-6">
            <h2 class="cons-title mb-4 text-center">
                Richiedi una<strong> consulenza gratuita</strong>
            </h2>
            <p class="cons-description">
                I nostri consulenti ti daranno consigli su come migliorare il tuo business:
            </p>
            <ul class="cons-description">
                <li>Branding</li>
                <li>Target di riferimento</li>
                <li>Come raggiungere il target di riferimento</li>
                <li>Personalizzazione</li>
                <li>Fidelizzazione</li>
            </ul>
            <p class="cons-description">
                E ti offriranno il nostro aiuto per realizzare i tuoi obiettivi.
            </p>
        </div>
        <div class="col-12 col-md-6">
            <form class="consultant-form" method="POST" action="http://formspree.io/info@deltalocalmarketing.it">
                <div class="form-group form-name">
                    <label for="company-name">Nome azienda</label>
                    <input type="text" class="form-control" name="company-name" placeholder="Delta local marketing">
                </div>
                <div class="form-group form-name">
                    <label for="name">Nome contatto</label>
                    <input type="text" class="form-control" name="name" placeholder="Mario Rossi">
                </div>
                <div class="form-group form-phone">
                    <label for="phone">Telefono</label>
                    <input type="tel" class="form-control" name="phone" placeholder="+39 320 1212123">
                </div>
                <div class="form-group form-text">
                    <label for="comments">Note</label>
                    <textarea class="form-control sett" rows="5" name="comments" placeholder="es. Contattare dopo le 18."></textarea>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-call-to-action btn-invia">Invia</button>
                </div>
            </form>
        </div>
    </div>
</section>
