<section id="landing" class="container landing pt-5">
    <div class="row">
        <div class="col-12 col-md-7 landing-section">
            <h1 class="landing-title text-center">
                <span class="colory">il tuo </span>successo<br>il nostro <span class="colory">business</span>
            </h1>
            <h4 class="landing-subtitle text-center">
                Strategie di marketing online<br>sviluppiamo il tuo business
            </h4>
            <button type="button" class="btn btn-call-to-action btn-landing-action btn-lg" onclick="location.href='{{site.baseurl}}/consulenza-gratuita';">
                Richiedi una consulenza gratuita
            </button>
        </div>
        <div class="col-md-5 d-none d-md-flex align-items-center justify-content-center">
            <img id="img-break2" src="{{site.baseurl}}/assets/img/light-bulb.png" class="img-fluid img-landing" alt="Responsive image">
        </div>
    </div>
</section>
