<section id="landing" class="container-fluid landing">
    <div class="row land-setting">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div>
                <div class="landing-title text-center">
                    <h1>
                        <span class="colory">il tuo </span>successo<br>il nostro <span class="colory">business</span>
                    </h1>
                </div>
                <div class="landing-subtitle text-center">
                    <h2>
                        Strategie di marketing online<br>sviluppiamo il tuo business
                    </h2>
                </div>
                <div class="div-action">
                    <button type="button" class="btn btn-default btn-lg btn-action btn-mobile visibily5" data-toggle="modal" data-target="#myModal">
                    Richiedi una consulenza gratuita
                </button>
                    <button type="button" class="btn btn-default btn-lg btn-action btn-mobile visibily4" data-toggle="modal" data-target="#myModal">
                    Richiedi una<br>consulenza gratuita
                </button>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 visibily3">
            <img id="img-break2" src="/assets/img/n2.2.png" class="img-responsive mar1" alt="Responsive image">
        </div>
    </div>
</section>
