{% assign current = page.url | downcase | split: '/' %}

<div class="container pb-5">
    <nav class="navbar navbar-expand-md navbar-light" role="navigation">
        <button class="navbar-toggler navbar-toggler-right" type="button" id="navbarSideButton">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a id="logo-cent" class="navbar-brand mx-auto" href="{{site.baseurl}}/">
            <img alt="Brand" src="{{site.baseurl}}/assets/img/delta-logo.svg" height="50px">
        </a>
        <div class="collapse navbar-collapse flex-row-reverse" id="desktopNavigation">
            <div class="navbar-nav">
                <a class="nav-item nav-link{% if current == empty %} active{% endif %}" href="{{site.baseurl}}/">Home</a>
                <!-- <a class="nav-item nav-link{% if current.last == 'chi-siamo' %} active{% endif %}"
                    href="{{site.baseurl}}/chi-siamo">Chi Siamo</a> -->
                <a class="nav-item nav-link{% if current.last == 'servizi' %} active{% endif %}"
                    href="{{site.baseurl}}/servizi">Servizi</a>
                <a class="nav-item nav-link{% if current contains 'blog' %} active{% endif %}" href="{{site.baseurl}}/blog">Blog</a>
                <a class="nav-item nav-link{% if current.last == 'consulenza-gratuita' %} active{% endif %}"
                    href="{{site.baseurl}}/consulenza-gratuita">Consulenza</a>
            </div>
        </div>
        <ul class="navbar-side" id="navbarSide">
            <li class="navbar-side-item">
                <a href="{{site.baseurl}}/" class="side-link">Home</a>
            </li>
            <!-- <li class="navbar-side-item">
                <a href="{{site.baseurl}}/chi-siamo" class="side-link">Chi Siamo</a>
            </li> -->
            <li class="navbar-side-item">
                <a href="{{site.baseurl}}/servizi" class="side-link">Servizi</a>
            </li>
            <li class="navbar-side-item">
                <a href="{{site.baseurl}}/blog" class="side-link">Blog</a>
            </li>
            <li class="navbar-side-item">
                <a href="{{site.baseurl}}/consulenza-gratuita" class="side-link">Consulenza</a>
            </li>
        </ul>
        <div class="overlay"></div>
    </nav>
</div>
