<section class="services" id="services">
    <div class="container">
        <div class="row">
            <h2 class="text-title text-center super-padding">I nostri servizi</h2>
        </div>
        <div class="row" id="uno">
            <div class="col-md-4 col-sm-4 col-lg-4 dim-box border-box-f">
                <div class="feature-icon">
                    <img src="assets/img/100-1.png" alt="asdasdasd" class="img-status">
                </div>
                <div class="text-icon">
                    <div class="feature-title-wrapper">
                        <h4 class="text-icon-title">Branding</h4>
                    </div>
                    <p class="text-icon-inline">Sviluppiamo un identità per il tuo business.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 dim-box border-box-c">
                <div class="feature-icon">
                    <img src="assets/img/100-2.png" alt="asdasdasd" class="img-status">
                </div>
                <div class="text-icon">
                    <div class="feature-title-wrapper">
                        <h4 class="text-icon-title">Social media marketing</h4>
                    </div>
                    <p class="text-icon-inline">Raggiungere nuovi clienti</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 feature-box dim-box border-box-r">
                <div class="feature-icon">
                    <img src="assets/img/100-3.png" alt="asdasdasd" class="img-status">
                </div>
                <div class="text-icon">
                    <div class="feature-title-wrapper">
                        <h4 class="text-icon-title">Web marketing</h4>
                    </div>
                    <p class="text-icon-inline">Concretizzare traffico qualificato al sito web dell'azienda</p>
                </div>
            </div>
        </div>
        <div class="row" id="due">
            <div class="col-md-4 col-sm-4 col-lg-4 feature-box dim-box due-border-box-f">
                <div class="feature-icon">
                    <img src="assets/img/100-4.png" alt="asdasdasd" class="img-status">
                </div>
                <div class="text-icon feature-seo">
                    <div class="feature-title-wrapper">
                        <h4 class="text-icon-title">Search Engine Optimization</h4>
                    </div>
                    <p class="text-icon-inline     ">Tecniche di ottimizzazione web per una adeguata indicizzazione del sito da parte dei mototri di ricerca
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 feature-box dim-box due-border-box-c">
                <div class="feature-icon">
                    <img src="assets/img/100-5.png" alt="asdasdasd" class="img-status">
                </div>
                <div class="text-icon">
                    <div class="feature-title-wrapper">
                        <h4 class="text-icon-title">Marketing personalizzato</h4>
                    </div>
                    <p class="text-icon-inline">Un piano di comunicazione efficace e personalizzata</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 col-lg-4 feature-box dim-box due-border-box-r">
                <div class="feature-icon">
                    <img src="assets/img/100-6.png" alt="asdasdasd" class="img-status">
                </div>
                <div class="text-icon">
                    <div class="feature-title-wrapper">
                        <h4 class="text-icon-title">Strumenti di vendita</h4>
                    </div>
                    <p class="text-icon-inline">Le dinamiche di vendita sono sempre più complesse e necessitano di strumenti nuovi</p>
                </div>
            </div>
        </div>
        <div class="row row-footer-int" id="tre">
            <div class="col-md-12 serv-padding-bot">
                <p class="features-title text-underline text-edn">"Gli strateghi vittoriosi hanno già trionfato, prima ancora di dare battaglia<br>i perdenti hanno già dato
                    battaglia, prima ancora di cercare la vittoria."
                </p>
                <p class="text-right">L'arte della guerra.<br><strong>Sun Tzu</strong>(generale cinese VI-V secolo a.C)</p>
            </div>
        </div>
</section>