<section class="container services" id="services">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-title text-center">I nostri servizi</h2>
        </div>
    </div>
    <div class="row">
        {% for service in site.data.services %}
        <div class="col-md-3 feature-box">
            <div class="feature-icon">
                <img src="{{ service.icon }}" alt="asdasdasd" class="img-status">
            </div>
            <div class="feature-info">
                <div class="feature-title-wrapper">
                    <h4 class="feature-title">{{ service.title }}</h4>
                </div>
                <p class="feature-description">{{ service.text }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
