<div id="mc_embed_signup" class="subscription-layout">
    <form action="//deltalocalmarketing.us16.list-manage.com/subscribe/post?u=49b0c2793039b0e92aeee7ba9&amp;id=469ab0667b"
        method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
        target="_blank">
        <div id="mc_embed_signup_scroll">
            <h6 class="subscription-title">Iscriviti alla nostra newsletter!</h2>
            <div class="form-group subscription-form-group">
                <input type="email" class="form-control subscription-control" id="mce-EMAIL" name="EMAIL" aria-describedby="emailHelp" placeholder="Inserisci la tua email" required>
            </div>
            <div id="mce-responses">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_49b0c2793039b0e92aeee7ba9_469ab0667b" tabindex="-1" value="">
            </div>
            <div class="text-center">
                <input type="submit" class="btn btn-call-to-action" value="Iscriviti" name="subscribe" id="mc-embedded-subscribe">
            </div>
            <small id="emailHelp" class="form-text subscription-text">La tua email è al sicuro con noi, non la condivideremo MAI con nessuno!</small>
        </div>
    </form>
</div>
