<section class="container testimonials py-4" id="success-stories">
    <div class="row">
        <div class="col-md-12">
            <h2 class="testimonials-title text-center">Storie di successo</h2>
        </div>
    </div>
    <div class="row sheet-testimonial">
        {% for testimonial in site.data.testimonials %}
        <div class="col-sm-6 col-lg-4 testimonial">
            <h4 class="text-testimonial-title">{{ testimonial.title }}</h4>
            <p class="text-testimonial-inline">{{ testimonial.text }}</p>
            <div class="identification-testimonial clearfix">
                <img src="{{ testimonial.image }}" class="img-fluid img-testimonial" alt="">
                <h6 class="testimonial-name">- {{ testimonial.name }}</h4>
                    <h7 class="testimonial-firm">{{ testimonial.firm }}</h5>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
