.about-employees {
    margin-top: 3rem;
}

.about-employee-name {
    font-weight: bold;
    text-align: center;
}

.about-employee-job {
    text-align: center;
}

.about-employee-image-layout {
    padding: 1rem;
}

.about-employee-image {
    border-radius: 50%;
    width: 100%;
    height: auto;
}
