.clickable {
    cursor: pointer;
}

.no-decoration {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

.blog-article {
    padding: 0.5rem;
    &:hover {
        background-color: rgba(0, 0, 0, 0.03);
    }
    &:not(:last-of-type) {
        border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    }
}

.blog-article-image {
    padding: 0;
    background-color: white;
}

.blog-post-title {
    @include font-title;
    color: $primary;
    &:hover {
        color: $dark-primary;
        text-decoration: underline;
    }
}

.blog-post-categories {
    color: $light-secondary;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.blog-side-layout {
    flex-direction: column;
}

