.clickable {
    cursor: pointer;
}

.blog-article {
    padding: 0.5rem;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
}

.blog-article:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.blog-article-image {
    padding: 0;
    background-color: white;
}

.blog-post-categories {
    color: $light-secondary;
    text-transform: uppercase;
    font-size: 0.7rem;
}
