.break-text-title {
    color: #fff;
    margin: 0;
}

.break-text-inline {
    color: #fff;
    margin-bottom: 0;
    margin-top: 10px;
}

.row-setting {
    display: flex;
    align-items: center;
    background-color: $blue;
    padding-top: 40px;
    padding-bottom: 40px;
}

.break-action {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.btn-break-action {
    white-space: normal;
    max-width: 20rem;
}
