.break-text-title {
    color: $text-light;
    margin: 0;
}

.break-text-inline {
    color: $text-light;
    margin-bottom: 0;
    margin-top: 10px;
}

.row-setting {
    display: flex;
    align-items: center;
    background-color: $primary;
    padding-top: 40px;
    padding-bottom: 40px;
}

.break-action {
    display: flex;
    justify-content: center;
    padding: 1rem;
}
