.wrap {
    min-height: 100%;
    /* this needs to be bigger than footer height*/
    padding-bottom: 8rem;
    // @media (min-width: $sm) {
    //     padding-bottom: 16rem;
    // }
}

footer {
    position: relative;
    margin-top: -6rem;
    height: 6rem;
    font-size: 0.8rem;
    clear: both;
    background-color: $light-primary;
    color: $text-light;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    // @media (min-width: $sm) {
    //     margin-top: -12.5rem;
    //     height: 12.5rem;
    // }
}

.footer-menu {
    flex-direction: column;
}

.footer-contacts {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-icon {
    height: 2rem;
    margin: 1rem;
}
