.wrap {
    min-height: 100%;
    padding-bottom: 6rem;
    /* this needs to be bigger than footer height*/
}

footer {
    position: relative;
    margin-top: -2rem;
    /* negative value of footer height */
    height: 2rem;
    clear: both;
    background-color: $light-primary;
    color: $text-light;
    font-size: 0.8rem;
}

