.landing-title {
    color: #649dc0;
    text-transform: uppercase;
}

.landing-subtitle {
    margin: 30px 0;
    color: #649dc0;
    text-transform: uppercase;
}

.colory {
    color: $dark-green;
}

.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 8rem;
}

.btn-landing-action {
    text-transform: uppercase;
    padding: 1rem;
}
