.landing-title {
    color: $primary;
    text-transform: uppercase;
}

.landing-subtitle {
    margin: 30px 0;
    color: $light-primary;
    text-transform: uppercase;
}

.colory {
    color: $secondary;
}

.landing-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-landing-action {
    text-transform: uppercase;
    padding: 1rem;
    white-space: inherit;
}

.img-landing {
    height: 25rem;
}
