.nav-link {
    color: $primary !important;
    &:hover {
        color: $dark-primary !important;
    }
    &.active {
        color: $secondary !important;
    }
}

.navbar-side {
    height: 100%;
    width: 60%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 1rem;
    background-color: $background-color;
    overflow-y: scroll;
    z-index: 1000;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.navbar-side-brand {
    width: 100%;
    text-align: center;
}

.navbar-side-list {
    list-style: none;
    padding: 0;
}

.side-link {
    line-height: 4rem;
    display: block;
    text-transform: uppercase;
    padding-left: 3rem;
    margin-top: 1rem;
    color: $primary;
    font-size: 1.2rem;
}

.side-link:focus, .side-link:hover {
    text-decoration: none;
    background-color: $dark-primary;
    color: $text-light;
}

.reveal {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}

.overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    background-color: #ccc;
    opacity: 0.6;
    z-index: 900;
}
