.post-header {
    position: relative;
    margin-bottom: 1.5rem;
}

.post-side-layout {
    flex-direction: column;
    align-items: center;
}

.post-category-layout {
    position: absolute;
    top: -1rem;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-category {
    text-transform: uppercase;
    background-color: $secondary;
    padding: 0.5rem;
    color: $text-light;
}

.post-title-override {
    @media (min-width: $md) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
    }
    .post-title-layout {
        @media (min-width: $md) {
            width: 75%;
        }
    }
}

.post-title-layout {
    background-color: $primary;
    padding: 2rem 1rem 1rem 1rem;
    position: relative;
}

.post-title {
    @include font-title;
    font-size: 1.5rem;
    text-align: center;
    color: $text-light;
    font-weight: 600;
}

.post-image {
    width: 100%;
}

.post-content {
    text-align: justify;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @include font-title;
        font-weight: 600;
        margin-bottom: 1rem;
    }
    h3 {
        padding-top: 0.6rem;
    }
    h2 {
        padding-top: 1rem;
    }
    h4 {
        padding-top: 0.5rem;
    }
    blockquote {
        padding-left: 1rem;
        font-style: italic;
    }
    a {
        @extend .delta-link;
    }
}


.post-image {
    width: 100%;
    height: auto;
}

.post-image-layout {
    align-items: center;
    justify-content: center;
    padding: 2rem 3rem 3rem 3rem;
}
