@mixin translateY($value) {
    -ms-transform: translateY($value);
    -moz-transform: translateY($value);
    -webkit-transform: translateY($value);
    transform: translateY($value);
}

@mixin transition($value) {
    -moz-transition: $value;
    -webkit-transition: $value;
    transition: $value;
}

.services-title {
    @include font-title;
    text-transform: uppercase;
    text-align: center;
    color: $text-light;
    padding: 1rem;
    margin-bottom: 1rem;
}

.services-description-container
{
    background-color: $primary;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-description-layout {
    @media screen and (min-width: $sm) {
        width: 450px;
    }
    @media screen and (min-width: $md) {
        width: 650px;
    }
    @media screen and (min-width: $lg) {
        width: 750px;
    }
    @media screen and (min-width: $xl) {
        width: 900px;
    }
}

.services-description {
    color: $text-light;
    text-align: center;
}

.services-cta-layout{
    text-align: center;
    padding-top: 1rem;
}

.feature-box {
    height: 300px;
    overflow: hidden;
    position: relative;
    &:hover {
        .feature-info .feature-title-wrapper {
            border-bottom-color: #fff;
            margin-bottom: .75em;
            padding-bottom: .3em;
        }
        .feature-icon {
            opacity: 0.1;
        }
        .feature-info {
            @include translateY(0);
            top: 2em;
        }
    }
    @media (min-width: $md) {
        border-right-width: 0;
        margin: 0;
    }
}

.feature-info {
    @include transition(.6s);
    position: absolute;
    top: 220px;
    cursor: default;
    right: 1rem;
    left: 1rem;
    min-height: 230px;
    display: flex;
    flex-direction: column;
}

.feature-find-more-layout {
    text-align: center;
}

.feature-icon {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 2rem;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
}

.feature-title {
    @include font-title;
    @include translateY(-100%);
    text-align: center;
    position: relative;
    top: 100%;
    &:after {
        content: '';
        display: block;
        width: 220px;
        height: 2px;
        background: $dark-secondary;
        margin: 6px auto;
    }
}

.feature-description {
    text-align: justify;
    flex-grow: 1;
}

.feature-title-wrapper {
    @include transition(.6s);
    height: 63px;
    margin-bottom: 1em;
}

.img-status {
    width: 220px;
}
