.feature-layout {
    position: relative;
    height: 20rem;
}

.feature-box {
    position: absolute;
    top: 0.5rem;
    bottom: 0.5rem;
    left: 0.5rem;
    right: 0.5rem;
    padding: 0.5rem;
}

.feature-title {
    color: $text-light;
    font-size: 1.25rem;
}

.feature-description {
    text-align: justify;
}

.feature-title-wrapper {
    height: 63px;
    margin-bottom: 1em;
}

.feature-info {
    color: $text-light;
}

.feature-icon {
    display: block;
    width: 120px;
    height: 120px;
    margin: auto;
}

.img-status {
    width: 120px;
}
