@mixin translateY($value) {
    -ms-transform: translateY($value);
    -moz-transform: translateY($value);
    -webkit-transform: translateY($value);
    transform: translateY($value);
}

@mixin transition($value) {
    -moz-transition: $value;
    -webkit-transition: $value;
    transition: $value;
}

.features {
    color: #fff;
}

.features-title {
    text-align: center;
    margin-top: 0;
    margin-bottom: 1.5em;
}

.feature-box {
    height: 300px;
    border: 5px solid #5899ba;
    overflow: hidden;
    position: relative;
    margin: 1em;
}

@media (min-width: $md) {
    .feature-box {
        border-right-width: 0;
        margin: 0;
    }
    .feature-box:nth-child(4n) {
        border-right-width: 5px;
    }
    .feature-box:nth-child(n + 5) {
        border-top-width: 0;
    }
    .feature-info {
        max-width: 200px;
    }
}

.feature-info {
    @include translateY(100%);
    @include transition(.6s);
    position: absolute;
    bottom: 80px;
    cursor: default;
}

.feature-box:hover .feature-info {
    @include translateY(0);
    top: 2em;
}

.feature-title-wrapper {
    @include transition(.6s);
    height: 63px;
    margin-bottom: 1em;
    margin-right: 10px;
    border-bottom: 2px solid transparent;
}

.feature-box:hover .feature-info .feature-title-wrapper {
    border-bottom-color: #fff;
    margin-bottom: .75em;
    padding-bottom: .3em;
}

.feature-box:hover .feature-icon {
    opacity: 0.5;
}

.feature-title {
    @include translateY(-100%);
    font-size: 1.41em;
    font-weight: 500;
    position: relative;
    top: 100%;
}

.feature-icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100px;
    height: 100px;
}

.features-title.text-underline:after {
    border-bottom-color: #ff8500;
}
