$green: #17db00;
$light-green: #6bff4f;
$dark-green: #00a800;

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
$sm: 576px; // Small devices (landscape phones, 576px and up)
$md: 768px; // Small devices (tablets)
$lg: 992px; // Medium devices (desktops)
$xl: 1200px; // Large devices (large desktops)

@import './bootstrap';
@import './navbar';
@import './landing';
@import './footer';
@import './testimonials';
@import './break';
@import './services';

html {
  font-size: 14px;

  @media (min-width: $md) {
    font-size: 18px;
  }

  @media (min-width: $xl) {
    font-size: 20px;
  }
}

body {
    background-color: #f8f8f8;
    color: #444;
}

.btn-delta-action {
    @extend .btn-success;
    text-transform: uppercase;
    padding: 1rem;
}

.shadow {
    -webkit-box-shadow: -2px 6px 25px 0px rgba(50, 50, 50, 0.67);
    -moz-box-shadow: -2px 6px 25px 0px rgba(50, 50, 50, 0.67);
    box-shadow: -2px 6px 25px 0px rgba(50, 50, 50, 0.67);
}
