$green: #17db00;
$light-green: #6bff4f;
$dark-green: #00a800;

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
$sm: 576px; // Small devices (landscape phones, 576px and up)
$md: 768px; // Small devices (tablets)
$lg: 992px; // Medium devices (desktops)
$xl: 1200px; // Large devices (large desktops)

@import './bootstrap';
@import './navbar';

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f8f8f8;
    color: #666;
}

.btn-delta {
    @extend .btn-success;
}

#cookieChoiceInfo {
    bottom: 0!important;
    top: auto!important;
    background-color: #555!important;
    padding: 10px!important;
    font-size: 18px!important;
    color: #fff!important;
}

#cookieChoiceInfo>a {
    color: #fff!important;
}

#cookieChoiceDismiss {
    border: 2px solid $dark-green;
    background-color: $dark-green;
    padding: 0 5px 0 5px;
    text-decoration: none;
    border-radius: 4px;
}
