.btn-invia {
    width: 10rem;
}

.cons-title {
    @include font-title;
}

.consultant-layout {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
}

.consultant-form {
    width: 100%;
    max-width: 30rem;
}
