---
layout: default
---

<article class="container post" itemscope itemtype="http://schema.org/BlogPosting">

    <header class="row post-header">
        <div class="col-12">
            <img src="{{site.baseurl}}/assets/img/{{page.image}}" class="d-none d-md-block img-fluid post-image" />
            <img src="{{site.baseurl}}/assets/img/{{page.image_sharing}}" class="d-md-none img-fluid post-image" />
            <div class="post-title-layout">
                <div class="post-category-layout">
                    <span class="post-category">{{ page.category }}</span>
                </div>
                <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
            </div>
        </div>
    </header>

    <div class="row post-content" itemprop="articleBody">
        <div class="col-md-8 col-lg-9">
            {{ content }}

            {% if page.comments %}
                {% include disqus_comments.html %}
            {% endif %}
        </div>
        <div class="d-none d-md-flex col-md-4 col-lg-3 blog-side-layout">
            <div class="mb-5">
                    {% include subscription.html %}
            </div>
            <div>
                    {% include popular_posts.html %}
            </div>
        </div>
    </div>
</article>
