---
layout: default
---

<article class="container post" >
    <header class="row post-header">
        <div class="col-12">
            <img src="{{site.baseurl}}/assets/img/{{page.image}}" class="d-none d-md-block img-fluid post-image" />
            <img src="{{site.baseurl}}/assets/img/{{page.image_sharing}}" class="d-md-none img-fluid post-image" />
            <div class="post-title-layout">
                <div class="post-category-layout">
                    <span class="post-category">{{ page.category }}</span>
                </div>
                <h1 class="post-title">{{ page.title | escape }}</h1>
            </div>
        </div>
    </header>

    <div class="row">
        <div class="col-md-8 col-lg-9">
            <div class="post-content">
                {{ content }}
            </div>

            {% if page.comments %}
                {% include disqus_comments.html %}
            {% endif %}
        </div>
        <div class="d-none d-md-flex col-md-4 col-lg-3 blog-side-layout">
            <div class="mb-5">
                    {% include subscription.html %}
            </div>
            <div>
                    {% include popular_posts.html %}
            </div>
        </div>
    </div>
</article>

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "BlogPosting",
        "name": "{{ page.title | escape }}",
        "headline": "{{ page.title | escape }}",
        "genre": "{{ page.category }}",
        "url": "{{ site.url }}{{ page.url }}",
        "author": {
            "@type": "Person",
            "name": "{{ page.author }}"
        },
        "image": "{{site.url}}{{site.baseurl}}/assets/img/{{ page.image_sharing }}",
        "publisher": {
            "@type": "Organization",
            "name": "Delta Local Marketing",
            "logo": {
                "@type": "ImageObject",
                "contentUrl": "{{site.url}}{{site.baseurl}}/assets/img/delta-logo.svg",
                "url": "{{site.url}}"
            }
        },
        "datePublished": "{{ page.date | date: "%Y-%m-%d" }}",
        "dateModified": "{{ page.date | date: "%Y-%m-%d" }}",
        "articleBody": "{{ content | strip_html | xml_escape | normalize_whitepace | strip_newlines | strip }}",
        "mainEntityOfPage": {
            "@type":"WebPage",
            "@id":"{{site.url}}{{ page.url }}"
         }
    }
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5a4e9b76eef971be"></script>
