
footer {
    margin-top: 3rem;
    height: 5rem;
    font-size: 0.8rem;
    background-color: $light-primary;
    color: $text-light;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.footer-menu {
    flex-direction: column;
}

.footer-contacts {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social-icon {
    height: 2rem;
    margin: 0.2rem 1.5rem;
}
